.eventListContainer
  list-style: none
  border: 2px solid darkslategrey  
  border-radius: 10px
  width: 80%
  margin: 1em auto
  padding: 0 1em
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.eventList
  display: flex
  flex-direction: row
  justify-content: space-between
  border: 2px solid #8dbbe4
  background-color: #d4d9de
  border-radius: 5px 
  padding: 10px
  margin: 10px


  
    

