.sectionContainer
	max-width: 1220px 
	margin: 0 auto
	padding: 70px
	border-top:1px solid #e7eaf3 
	border-bottom:1px solid #e7eaf3 
	display: grid
	grid-template-areas: "a a" "b c" "b c" "b c" "b c"
	grid-template-rows: 150px 80%
	grid-template-columns: 1fr 1fr

.trophyIcon
	width: 70px

.headerContainer
	grid-area: a
	display: flex
	flex-direction: column
	justify-content: space-evenly
	align-items: center

h2
	font-size: 32px
	padding-bottom: 10px
	margin: 20px
p
	color: #50585f
	font-size: 20px
	line-height: 1.3em
	font-weight: 400		

.workingImage
	grid-area: b
	margin:30px 0px 30px 
	
.list
	grid-area: c
	display: flex
	flex-direction: column
	justify-content: center
	align-items: space-evenly

.listItem
	padding: 25px
	display: flex
	align-items: center
	border: 1px solid #9094a0
	border-radius: 5px
	margin: 25px 0

.number
	font-size: 56px
	color: #0a5bf2
	padding-right: 25px
	margin: 0





