.menuNavigation
  width: 90%
  padding: 50px
  font-family: Poppins, Arial, Helvetica, sans-serif

  display: flex
  justify-content: space-between
  align-items: flex-start

.menuNavBar
  width: 210px
  background-color: #377DFF
  padding: 10px
  border-radius: 5px

